body,html
{
margin:0; 
padding:0;
font-size: 42.6667px;
font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
-webkit-text-size-adjust: none
}
h2{margin:0; padding:0;}

.main{width: 100%; max-width: 1080px; margin: 0 auto;overflow: hidden;}
.bannerimg img{width: 100%;}

.main_body{ background: url(images/shihui/body_bg.png) top left repeat-y; background-size:100%; padding: 1px 0 10px;}
.title{font-size:16px; color:#333; height: 24px; width: 88px; padding:0 98px 0 102px; text-align: center;  background: url(images/shihui/web_sep_line1.png) center top repeat-y; background-size:287px 24px; margin: 26px auto;}
.title_b{font-size:12px; color:#333; height: 38px; padding-top: 17px; width: 220px; text-align: center;  background: url(images/shihui/web_sep_line3.png); background-size:220px 55px; margin: 26px auto;}
.text{font-size: 14px; margin: 0 30px; line-height: 30px;}
.pic_box{width: 80%; max-width: 284px; margin: 0 auto;}
.pic_box img{width: 100%;}

.module_w{text-align: center; margin-top: 40px;}
.module_main{width:260px; height:264px; padding: 30px 30px 0px; background: url(images/shihui/web_decorate2.png) no-repeat; background-size:100% 100%; font-size: 15px; text-align: left; margin: 0 auto; line-height: 26px;}
.module_main h3{ text-align: center;}

.pro_list{margin: 0 20px;}
.unit{position: relative; padding-left: 152px; min-height: 160px;}
.unit_pic{position: absolute; left: 0; top: 0;}
.unit_main{ font-size: 12px;text-align: center;}
.unit_main h3{background: url(images/shihui/web_goods_title_bg.png) left bottom no-repeat; background-size:101px 16px; width: 101px; height: 32px; line-height: 32px; font-size: 18px; font-style: italic; font-weight: normal;  margin: 0 auto;}
.unit_main p{ font-size: 12px;}

.bot_box{text-align: center; padding: 10px 0 30px;}
.bot_ps{display: inline-block; background-color: #f53250; height: 33px; line-height: 33px; padding: 0 20px; border-radius: 16px; font-size: 14px; color: #fff;}

